# Enterprise-managed secrets template.
# Copy outside the source tree and fill values on the enterprise machine only.

ENTERPRISE_DB_URL=jdbc:mysql://127.0.0.1:3306/enterprise?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8&autoReconnect=true&rewriteBatchedStatements=true&allowPublicKeyRetrieval=true&nullCatalogMeansCurrent=true
ENTERPRISE_DB_USERNAME=enterprise_user
ENTERPRISE_DB_PASSWORD=

ENTERPRISE_REDIS_HOST=127.0.0.1
ENTERPRISE_REDIS_PORT=6379
ENTERPRISE_REDIS_PASSWORD=

ENTERPRISE_VENDOR_OPEN_BASE_URL=http://127.0.0.1:18000
ENTERPRISE_INSTALL_ID=
